<section id="reset-password">
  <form
  *ngIf="!resetDone"
    id="reset-password-form"
    name="form"
    (ngSubmit)="resetPasswordForm.form.valid && onSubmit()"
    novalidate
    #resetPasswordForm="ngForm"
  >
  <h2 class="text-center">Resetowanie hasła</h2>
    <mat-form-field appearance="fill" class="pb-1">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        placeholder="adres e-mail"
        [formControl]="form.email"
        minlenght="3"
        required
      />
      <mat-error *ngIf="form.email.invalid">Niepoprawny format adresu email</mat-error>
    </mat-form-field>


    <mat-error
      class="text-center error-message mt-1"
      >
      {{ errorMessage }}
    </mat-error>

    <button mat-flat-button color="primary" type="submit">Zresetuj hasło</button>
  </form>
  <div class="text-center" *ngIf="resetDone">
    <p>Na adres {{ form.email.value }} wysłano link do resetu hasła.</p>
  </div>
</section>
